h1 {
    margin-top: 88px;
}

h1, form {
    margin-left: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    gap: 24px;

}

form > div {
    display: flex;
    gap: 4px;
}
div.frases {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 24px;
    margin-top: 8px;
}
